.wrapper.flex {
    display: flex;
    flex-flow: row wrap;
}

.child-wrapper {
    width: calc((100% - 100px) * 0.65 + 100px);
}

.item-1.flex {
    height: 100px;
    width: 100px;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
}

.item-2.flex {
    height: 100px;
    width: calc(100% - 100px);
    border-bottom: 1px solid #000000;
}

.item-3.flex {
    height: 300px;
    width: 100px;
    border-right: 1px solid #000000;
}

.item-4.flex {
    height: 300px;
    width: calc(100% - 100px);
    border-right: 1px solid #000000;
}

.item-5.flex {
    height: 450px;
    width: calc((100% - 100px) * 0.35);
}

.item-6.flex {
    height: 150px;
    width: 100%;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
}