.wrapper-flex {
    display: flex;
    flex-flow: row wrap;
}

.child1 {
    width: 100%;
}

.item-1.flex {
    height: 100px;
    width: 100px;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
}

.item-2.flex {
    height: 100px;
    flex-basis: 0;
    flex-grow: 1;
    border-bottom: 1px solid #000000;
}

.child2 {
    flex-basis: 100px;
    flex-grow: 65;
}

.item-3.flex {
    height: 300px;
    width: 100px;
    border-right: 1px solid #000000;
}

.item-4.flex {
    height: 300px;
    flex-basis: 0;
    flex-grow: 1;
    border-right: 1px solid #000000;
}

.item-5.flex {
    height: 450px;
    flex-basis: 0;
    flex-grow: 35;
}

.item-6.flex {
    height: 150px;
    width: 100%;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
}